{{ define "email.debug.start.html" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<body>
Dear PAI user:

</br>
</br>

Your job: <b>{{ .GroupLabels.job_name }}</b> already get the resource and running on <b>debug</b> VC.

Please Notice: the job will be killed if running over 2 hours.

</br>
Job link: <a>https://rr.openpai.org/job-detail.html?username={{ .GroupLabels.user_name }}&jobName={{ .GroupLabels.job_name }}</a>
</br>

</br>
Happy coding,</br>
PAI dev team

</body>
</html>
{{ end }}

{{ define "email.debug.start.user" }}{{ .GroupLabels.user_name }}@microsoft.com{{ end }}
